<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{layout/cabecalho}">
		<title>Cursos</title>
	</head>
	<body>
		<div th:insert="~{layout/menu}"></div>
		
		<form name="salvar_cursos" class="form-horizontal" method="post" th:action="@{/salvar_cursos}"
		th:object="${cursosEntity}">
		<div class="container">
			<h2>Alterar Curso</h2>
		
		<div class="container">
				<div class="alert alert-sucess" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>
				<input class="form-control" type="hidden" maxlength="50" name="idCursos" th:value="${idCursos}"/>
				<div class="mb-3">
					<label for="nome" class="form-label">Nome</label>
					<input type="text" class="form-control" id="nome" name="nome" th:value="${cursos.Nome}" required>
				</div>
				
				<div class="mb-e">
					<button type="submit" class="btn btn-success form-control">Salvar</button>
				</div>
				
		</div>
		</div>
		<br>
		
		</form>					
		
		<div th:insert="~{layout/rodape}"></div>
		
	</body>
		
</html>